*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body  {
    height: 100vh;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.card{
    width: 340px;
    height: 480px;
}
.front, .back{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .6s linear;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;;
}
.front img{
    height: 100%;
}
.back{
    background-color: black;
    color: white;
    transform: perspective(600px) rotateY(180deg);
}
.front{
    transform: perspective(600px) rotateY(0deg);
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);

}